@import '../../assets/styles/pallete';

.hero{
  width: 100%;
  min-height: 75vh;
  padding: 50px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: map-get($pallete, 'gray' );

  &:before{
    position: absolute;
    left: 2%;
    top: 2%;
    letter-spacing: -5px;
    font-size: 150px;
    font-weight: bold;
    opacity: 0.5;
    line-height: 100%;
  }

  &[data-hero="captain america"]{
    background-color: $captain;
    color: #FFF;
  }
  &[data-hero="spider-man"]{
    background-color: $spider;
    color: #FFF;
  }
  &[data-hero="wolverine"]{
    background-color: $wolverine;

    .hero__infos{
      .hero__infos-link{
        color: #000;
      }
    }
  }

  &:nth-child(1){

    &:before{
      content: "1st";
    }
  }
  &:nth-child(2){

    &:before{
      content: "2nd";
    }
  }
  &:nth-child(3){

    &:before{
      content: "3rd";
    }
  }

  .hero__not-found{
    font-size: 50px;
    color: #FFF;
  }

  .hero-container{
    display: flex;
  }

  .hero__image{
    width: 30%;
    max-width: 300px;
    display: block;
    margin: 0 0 auto 0;
    padding: 20px;
    background-color: $white;
    min-height: 260px;

    legend{
      color: $black;
      font-style: italic;
      padding-top: 10px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

  .hero__infos{
    flex: 1;
    padding: 0 50px;

    .hero__infos-title{
      font-size: 48px;
      margin: 0 0 20px 0;
    }

    .hero__infos-link{
      color: #FFF;
      display: flex;
      align-items: center;

      img{
        width: 18px;
        margin-left: 10px;
      }
    }
  }

  .hero__comics{
    font-size: 28px;
    margin: 50px 0 0;
  }
}


@media (max-width: 1440px) {
  .hero{

    &:before{
      left: auto;
      right: 2%;
      font-size: 100px;
    }
  }
}


@media (max-width: 998px) {

  .hero{
    padding: 50px 0;

    &:before{
      position: static;
      margin-bottom: 40px;
    }

    .hero-container{
      flex-direction: column;

      .hero__image{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }

      .hero__infos{
        padding: 0;

        .hero__infos-title{
          font-size: 32px;
        }
      }
    }
  }
}