@import '../../assets/styles/pallete';

.hero{
  width: 100%;
  min-height: 75vh;
  padding: 50px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &:nth-child(1){
    background-color: $captain;
    color: #FFF;
  }
  &:nth-child(2){
    background-color: $spider;
    color: #FFF
  }
  &:nth-child(3){
    background-color: $wolverine;

    .hero__infos{
      .hero__infos-link{
        color: #000;
      }
    }
  }

  .hero-container{
    display: flex;
  }

  .hero__image{
    width: 30%;
    max-width: 300px;
    display: block;
    margin: 0 0 auto 0;
    padding: 20px;
    background-color: $white;
    min-height: 260px;

    legend{
      color: $black;
      font-style: italic;
      padding-top: 10px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

  .hero__infos{
    flex: 1;
    padding: 0 50px;

    .hero__infos-title{
      font-size: 48px;
      margin: 0 0 20px 0;
    }

    .hero__infos-link{
      color: #FFF;
      display: flex;
      align-items: center;

      img{
        width: 18px;
        margin-left: 10px;
      }
    }
  }
}



@media (max-width: 998px) {

  .hero{
    padding: 50px 0;
    .hero-container{
      flex-direction: column;

      .hero__image{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }

      .hero__infos{
        padding: 0;

        .hero__infos-title{
          font-size: 32px;
        }
      }
    }
  }
}