.stories{
  display: flex;
  padding-top: 50px;

  .stories__item{
    width: 20%;
    padding-right: 20px;

    .stories__item-image{
      display: block;
      margin: 0 0 20px 0;
      box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4);

      > img{
        width: 100%;
        display: block;
      }
    }

    .stories__item-title{
      font-size: 15px;
      font-weight: normal;
    }
  }
}


@media (max-width: 998px) {

  .stories{
    flex-wrap: wrap;
    justify-content: space-between;

    .stories__item{
      width: 45%;
      padding: 0 0 20px 0;
    }
  }
}
