@import '../../assets/styles/pallete';

.header{
  height: 80px;
  min-height: 80px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  position: relative;
  z-index: 10;

  h1{
    margin: 0 auto;

    img{
      height: 60px;
      display: block;
    }
  } 
}