@import '../../assets/styles/pallete';

.heroes{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .heroes-loading{
    display: flex;
    padding: 20px 0 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;

    .heroes-loading__loader{
      width: 50px;
      height: 50px;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-radius: 50%;
      animation: spiner 0.5s infinite linear;
      display: block;
      margin: 10px auto;
    }
  }
}

.heroes-title{
  margin: 0 auto;
  padding: 70px 0 130px;
  font-size: 70px;
  background: map-get($pallete, primary );
  position: relative;

  h2{
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 20vw;
    line-height: 100%;
  }

  span{
    color: $white;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 100%;

    &.small{
      font-size: 30px;
      display: table;
      margin-left: 5px;
    }
  }
}

.arrow-down{
  position: absolute;
  right: 50%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  transform: translateX(50%) rotate(-45deg);
  animation: arrow-down 2s ease-in-out;
  animation-iteration-count: infinite;
  cursor: pointer;

  border-left: 12px solid #FFF;
  border-bottom: 12px solid #FFF;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0) translateX(50%) rotate(-45deg);
  }
  25%{
    transform: translateY(-15px) translateX(50%) rotate(-45deg);
  }
  50% {
    transform: translateY(0) translateX(50%) rotate(-45deg);
  }    
  100% {
    transform: translateY(0) translateX(50%) rotate(-45deg);
  }
}

@keyframes spiner {
  0%   { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 998px) {

  .arrow-down{
    bottom: 10%
  }

  .heroes-title{
    padding: 20px 20vw 100px 25px;
    font-size: 40px;

    h2{
      padding: 0;
    }

    span.small {
      font-size: 20px;
    }
  }
}